In [70]:
import pandas as pd

# READING IN 2025 BOOK SALES PERFORMANCE
sales2025 = pd.read_excel("/Users/tiffanyng/Desktop/Book performance 2025.xlsx", skiprows=1)

In [71]:
print(sales2025.head())

            Unnamed: 0  Paperbacks  Paperbacks.1  Hardcovers  Hardcovers.1  \
0      Fearful in Gaza         256       4117.21           0           0.0
1         Simply Hegel          46        221.70           0           0.0
2  Simply Wittgenstein          76        371.13           0           0.0
3       Simply Riemann          71        267.36           0           0.0
4     Simply Nietzsche          53        211.68           0           0.0

   Ebooks (Paid)  Ebooks  Ebooks (Free)  Audiobooks  Audiobooks.1  Reads  \
0              0    0.00              0           0          0.00      0
1             32  143.85              0         177        190.72      0
2             47  184.39              1           0          0.00      0
3             46  176.30              1          45         39.33      1
4             18   87.57              0         105        122.35      0

   Borrows  Reads.1  Total Gross Royalties  Total Spending  \
0        0      0.0                4117.21            0.00
1        0      0.0                 556.27           10.71
2        0      0.0                 555.52           12.69
3        0      0.0                 482.99            9.42
4        0      0.0                 421.59            9.97

   Total Net Royalties
0              4117.21
1               545.56
2               542.83
3               473.57
4               411.62

In [72]:
# CHECKING COLUMN NAMES
print(sales2025.columns.tolist())

# RENAMING COLUMN NAMES 
sales2025.columns = ["title", "paperbacks_count", "paperbacks_royalty", "hardcovers_count", "hardcovers_royalty", "ebooks_paid_count", "ebooks_royalty", "ebooks_free_count", "audiobooks_count", "audiobooks_royalty", "reads", "borrows", "reads.1", "total_gross_royalties", "total_spending", "total_net_royalties"]

# CHECKING CHANGES
print(sales2025.columns.tolist())

['Unnamed: 0', 'Paperbacks', 'Paperbacks.1', 'Hardcovers', 'Hardcovers.1', 'Ebooks (Paid)', 'Ebooks', 'Ebooks (Free)', 'Audiobooks', 'Audiobooks.1', 'Reads', 'Borrows', 'Reads.1', 'Total Gross Royalties', 'Total Spending', 'Total Net Royalties']
['title', 'paperbacks_count', 'paperbacks_royalty', 'hardcovers_count', 'hardcovers_royalty', 'ebooks_paid_count', 'ebooks_royalty', 'ebooks_free_count', 'audiobooks_count', 'audiobooks_royalty', 'reads', 'borrows', 'reads.1', 'total_gross_royalties', 'total_spending', 'total_net_royalties']

In [73]:
# SELECTING RELEVANT COLUMNS
royalty2025 = sales2025[["title", "paperbacks_count", "paperbacks_royalty", "hardcovers_count", "hardcovers_royalty", "ebooks_paid_count", "ebooks_royalty", "ebooks_free_count", "audiobooks_count", "audiobooks_royalty"]]

# CHECKING SUBSET
print(royalty2025.head())

# CHECKING DATA TYPE OF EACH COLUMN
print(royalty2025.info())

                 title  paperbacks_count  paperbacks_royalty  \
0      Fearful in Gaza               256             4117.21
1         Simply Hegel                46              221.70
2  Simply Wittgenstein                76              371.13
3       Simply Riemann                71              267.36
4     Simply Nietzsche                53              211.68

   hardcovers_count  hardcovers_royalty  ebooks_paid_count  ebooks_royalty  \
0                 0                 0.0                  0            0.00
1                 0                 0.0                 32          143.85
2                 0                 0.0                 47          184.39
3                 0                 0.0                 46          176.30
4                 0                 0.0                 18           87.57

   ebooks_free_count  audiobooks_count  audiobooks_royalty
0                  0                 0                0.00
1                  0               177              190.72
2                  1                 0                0.00
3                  1                45               39.33
4                  0               105              122.35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               152 non-null    object
 1   paperbacks_count    152 non-null    int64
 2   paperbacks_royalty  152 non-null    float64
 3   hardcovers_count    152 non-null    int64
 4   hardcovers_royalty  152 non-null    float64
 5   ebooks_paid_count   152 non-null    int64
 6   ebooks_royalty      152 non-null    float64
 7   ebooks_free_count   152 non-null    int64
 8   audiobooks_count    152 non-null    int64
 9   audiobooks_royalty  152 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 12.0+ KB
None

In [74]:
# PRINT BOOKS (i.e. paperback & hardcover) = 10%
print_royalty_percentage = 0.10

# AUDIBLE/EBOOKS (i.e. audiobooks & ebooks) = 25%
audio_royalty_percentage = 0.25

# MAKE COPY 
royalty2025 = royalty2025.copy()

# CALCULATING PRINT BOOKS ROYALTY -> NEW COLUMN: print_authors_royalty
royalty2025['print_authors_royalty'] = (
    royalty2025['paperbacks_royalty'] * print_royalty_percentage + 
    royalty2025['hardcovers_royalty'] * print_royalty_percentage
)

# CALCULATING AUDIO ROYALTY -> NEW COLUMN: audio_authors_royalty
royalty2025['audio_authors_royalty'] = (
    royalty2025['ebooks_royalty'] * audio_royalty_percentage + 
    royalty2025['audiobooks_royalty'] * audio_royalty_percentage
)

# CALCULATING TOTAL AUTHOR'S ROYALTY FROM PRINT + AUDIO BOOKS
royalty2025['total_authors_royalty'] = royalty2025['print_authors_royalty'] + royalty2025['audio_authors_royalty']
print(royalty2025.head())

                 title  paperbacks_count  paperbacks_royalty  \
0      Fearful in Gaza               256             4117.21
1         Simply Hegel                46              221.70
2  Simply Wittgenstein                76              371.13
3       Simply Riemann                71              267.36
4     Simply Nietzsche                53              211.68

   hardcovers_count  hardcovers_royalty  ebooks_paid_count  ebooks_royalty  \
0                 0                 0.0                  0            0.00
1                 0                 0.0                 32          143.85
2                 0                 0.0                 47          184.39
3                 0                 0.0                 46          176.30
4                 0                 0.0                 18           87.57

   ebooks_free_count  audiobooks_count  audiobooks_royalty  \
0                  0                 0                0.00
1                  0               177              190.72
2                  1                 0                0.00
3                  1                45               39.33
4                  0               105              122.35

   print_authors_royalty  audio_authors_royalty  total_authors_royalty
0                411.721                 0.0000               411.7210
1                 22.170                83.6425               105.8125
2                 37.113                46.0975                83.2105
3                 26.736                53.9075                80.6435
4                 21.168                52.4800                73.6480

In [75]:
def read_sales_data(file_path, platform_name, skiprows=1, show_preview=True):
    """
    Read sales data from any platform Excel file
    
    Parameters:
    - file_path: path to the Excel file
    - platform_name: name of the platform
    - skiprows: number of rows to skip (default: 1)
    - show_preview: whether to print head() (default: True)
    
    Returns:
    - DataFrame with the data
    """
    df = pd.read_excel(file_path, skiprows=skiprows)
    
    if show_preview:
        print(f"\n{platform_name.upper()} Sales Data:")
        print(df.head())
    
    return df

In [76]:
amazon2025 = read_sales_data("/Users/tiffanyng/Desktop/Amazon.xlsx", "amazon")

AMAZON Sales Data:
                                               Title        ASIN  \
0                                Simply Wittgenstein  1943657084
1                                       Simply Dirac  1943657092
2                                     Simply Riemann  1943657211
3  The Paris Husband: How It Really Was Between E...  1943657688
4                                       Simply Hegel  1943657408

               Series  Book's Order in Series  Series Name  Paperbacks  \
0   #5 in Great Lives                     5.0  Great Lives          70
1   #1 in Great Lives                     1.0  Great Lives          47
2   #5 in Great Lives                     5.0  Great Lives          52
3                 NaN                     NaN          NaN          33
4  #16 in Great Lives                    16.0  Great Lives          42

   Distribution  Hardcover  Ebooks (Paid)  Ebooks (Free)  ...  \
0             0          0             27              0  ...
1             0          0             22              0  ...
2             0          0             24              0  ...
3             0          0             24              0  ...
4             0          0             20              0  ...

   Ad Clicks (AMZ)  Ad Clicks (FB)  Reads  Gross Royalties ($)  \
0               45               0      0               519.48
1               21               0      2               371.54
2               34               0      1               370.87
3               35               0      7               346.38
4               30               0      0               327.16

   Total Spending ($)  Spending (AMZ) ($)  Spending (FB) ($)  \
0               12.69               12.69                  0
1                5.73                5.73                  0
2                9.42                9.42                  0
3               11.49               11.49                  0
4               10.71               10.71                  0

   Spending (BookBub) ($)  Spending (External) ($)  Net Royalties ($)
0                       0                        0             506.79
1                       0                        0             365.81
2                       0                        0             361.45
3                       0                        0             334.89
4                       0                        0             316.45

[5 rows x 23 columns]

In [77]:
print(amazon2025.columns.tolist())

# RENAMING COLUMNS
amazon2025.columns = ["title", "ASIN", "series", "books_order_in_series", "series_name", "amazon_paperbacks_count", "amazon_distribution", "amazon_hardcover", "amazon_ebooks_paid", "amazon_ebooks_free", "amazon_audiobooks", "ad_orders", "total_ad_clicks", "amazon_ad_clicks", "facebook_ad_clicks", "amazon_reads", "amazon_gross_royalties", "total_spendings", "amazon_spending", "facebook_spending", "bookbub_spending", "external_spending", "amazon_net_royalties"]

# SELECTING SUBSET
amazon2025royalties = amazon2025[["title", "amazon_paperbacks_count", "amazon_hardcover", "amazon_ebooks_paid", "amazon_ebooks_free", "amazon_gross_royalties", "amazon_net_royalties"]]

['Title', 'ASIN', 'Series', "Book's Order in Series", 'Series Name', 'Paperbacks', 'Distribution', 'Hardcover', 'Ebooks (Paid)', 'Ebooks (Free)', 'Audiobooks', 'Ad Orders', 'Total Ad Clicks', 'Ad Clicks (AMZ)', 'Ad Clicks (FB)', 'Reads', 'Gross Royalties ($)', 'Total Spending ($)', 'Spending (AMZ) ($)', 'Spending (FB) ($)', 'Spending (BookBub) ($)', 'Spending (External) ($)', 'Net Royalties ($)']

In [78]:
royalty2025 = pd.merge(royalty2025, amazon2025royalties, on='title', how='inner')
print(royalty2025.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    140 non-null    object
 1   paperbacks_count         140 non-null    int64
 2   paperbacks_royalty       140 non-null    float64
 3   hardcovers_count         140 non-null    int64
 4   hardcovers_royalty       140 non-null    float64
 5   ebooks_paid_count        140 non-null    int64
 6   ebooks_royalty           140 non-null    float64
 7   ebooks_free_count        140 non-null    int64
 8   audiobooks_count         140 non-null    int64
 9   audiobooks_royalty       140 non-null    float64
 10  print_authors_royalty    140 non-null    float64
 11  audio_authors_royalty    140 non-null    float64
 12  total_authors_royalty    140 non-null    float64
 13  amazon_paperbacks_count  140 non-null    int64
 14  amazon_hardcover         140 non-null    int64
 15  amazon_ebooks_paid       140 non-null    int64
 16  amazon_ebooks_free       140 non-null    int64
 17  amazon_gross_royalties   140 non-null    float64
 18  amazon_net_royalties     140 non-null    float64
dtypes: float64(9), int64(9), object(1)
memory usage: 20.9+ KB
None